// Cores 
$background-color: #1a1a1a; 
$background-color-escuro-claro: #1f2232; 
$primary-color-dark: #1a1a1a;
$titulo-color: #edeffa; 
$heading-color: #f0eff5; 
$text-color: #d6dbf5; 
$primary-color: #3399ff; 
$success-color-dark: #66bb6a; 
$success-color: #66bb6a; 
$danger-color: #ef5350; 
$danger-color-dark: #ef5350; 

// Fontes e tamanhos
$font-family-base: 'Inter', sans-serif; 
$font-size-titulo: 32px;
$font-size-subtitulo: 24px;
$font-size-base: 16px; 


// Aplicando temas com mixins ou placeholders, se desejar
body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
}


// Estilos globais usando variáveis
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

// Estilos de botões
.btnPrimary {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-size-base;

  &:hover {
    background-color: #66bb6a;
    color: $background-color;
    border: 1px solid $background-color;
    
  }
}

[data-theme='dark'] .btn-primary {
  background-color: $primary-color-dark;
  border-color: $primary-color-dark;
}

/* Similar para success e danger */
.btn-success {
  background-color: $success-color;
  border: 1px solid $success-color;
}

[data-theme='dark'] .btn-success {
  background-color: $success-color-dark;
  border-color: $success-color-dark;
}

.btn-danger {
  background-color: $danger-color;
  border: 1px solid $danger-color;
}

[data-theme='dark'] .btn-danger {
  background-color: $danger-color-dark;
  border-color: $danger-color-dark;
}