// Cores principais baseadas na sua paleta escura
$background-color: #13171e;              
$background-secondary: #101a2e; 
$text-color: #EEEEEE;               
$heading-color: #EEEEEE; 

// Cores de destaque
$primary-color: #006A67;   
$second-color: #273349;   
$success-color: #006A67;   
$error-color: #C0392B;  

// Variações para contraste
$primary-light: #007D7A;     
$primary-dark: #004D4A;                  

// Fontes e tamanhos
$font-family-base: 'Inter', sans-serif;
$font-size-titulo: 32px;
$font-size-subtitulo: 24px;
$font-size-base: 16px;


// Aplicando temas com mixins ou placeholders, se desejar
body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-base;
}


// Estilos globais usando variáveis
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}

// Estilos de botões
.btnPrimary {
  background-color: $background-secondary;

  border: 1px solid $second-color;
  color: $text-color;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: $font-size-subtitulo;

  &:hover {
    background-color: $primary-dark;
    color: $text-color;

  }
}


/* Similar para success e danger */
.btn-success {
  background-color: $success-color;
  border: 1px solid $success-color;
}


.btn-danger {
  background-color: $error-color;
  border: 1px solid $error-color;
}
