@import "../../styles/global/themes";
@import '../../styles/global/layout';

.formConteiner {
    display: flex;
        .labelControle {
            font-size: $font-size-subtitulo;
            color: $text-color;
            margin-bottom: 0.5rem;
            display: block;
        }

        .inputControle {
            width: 90%;
            padding: 1rem 0.5rem;
            border: 1px solid $second-color;
            border-radius: 4px;
            font-size: 1rem;
            color: $text-color;
            background-color: $background-color;

            &:focus {
                border-color: $heading-color;
                outline: none;
                box-shadow: 0 0 5px rgba($success-color, 0.5);
            }
        }
    
}
