@import 'global/reset';
@import 'global/layout';
@import 'global/typography';
@import 'global/themes';

body {
  font-family: $font-family-base;
  background-color: $background-color;
  color: $text-color;
  transition: all 0.3s ease;
}
